{% extends 'user_app/com_app_user/dom_app_user.html' %}
{% block scope %}
      <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
          <div class="viewport-header">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb has-arrow">
                <li class="breadcrumb-item">
                  <a href="#">Compte</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" style="color: #20B2AA">Game</li>
              </ol>
            </nav>
          </div>
          <div id="sketch-pad-wrapper" style="display: none" class="content-viewport">
            <div class="row">
              <div class="col-lg-12 equel-grid">
                <div class="grid">
                  <p class="grid-header">Vous dessinez et moi je devine</p>
                  <div class="grid-body">
                      <div class="item-wrapper">
                          <div id="clear" class="btn btn-primary has-icon"><i class="mdi mdi-format-clear"></i></div>
                          <div id="undo" class="btn btn-primary has-icon"><i class="mdi mdi mdi-undo"></i></div>
                          <div id="redo" class="btn btn-primary has-icon"><i class="mdi mdi mdi-redo"></i></div>
                          <div class="btn-group mb-1 mb-md-0" data-toggle="buttons">
                              <div class="col-md-12"></div>
                              <div class="col-md-12">
                                  <label class="btn btn-outline-success active">
                                    <input type="checkbox" checked disabled>
                                    <i class="mdi mdi-drawing"></i> <p id="label-draw"></p>
                                  </label>
                                  <label id="btn-time" class="btn btn-outline-success  active">
                                    <input type="checkbox" checked disabled>
                                    <i class="mdi mdi-timer"></i> <p id="time-draw"></p>
                                  </label>
                              </div>
                          </div>
                          <form action="/play/get_drawing_session/{{ token }}" method="POST">

                            <div style="border: solid #DFF7EE;border-style: dotted;margin-top: 10px;" id="sketchpad"></div>
                            <div class="col-md-12">
                                    <input id="inputDrawing" type="hidden" name="drawing">
                                    <input id="inputCategory" type="hidden" name="category_drawing">
                                    <input id="model_name" type="hidden" name="model_name">
                                    <input id="input_time" type="hidden" name="input_time">
                                    <input id="submitFormDrawing" type="submit" style="display: none">
                                </div>
                              <input type="button" id="btnSave" style="display:none;">
                          </form>
                      </div>
                      <form action="/play/submit_drawing_session/{{ token }}" method="POST">
                        <input type="submit" id="btnSave2" style="display:none;">
                      </form>
                      <audio id="countdown-audio" style="display: none">
                          <source src="{{ url_for('static', filename='assets/sound/countdown.mp3') }}" type="audio/mpeg">
                      </audio>
                      <button id="playCountdownSound" onclick="playAudio()" style="display: none"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="loader" style="display: none" class="grid">
              <div class="grid-body">
                <div class="item-wrapper">
                  <div class="demo-wrapper">
                    <button class="btn btn-outline-primary" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      <span class="sr-only">Loading...</span>
                        Analyse du dessin en cours... Veuillez patienter ! 🤓
                    </button>
                  </div>
                </div>
              </div>
          </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" id="btn-open-modal" style="display: none" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"></button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                  <br>
                  <div id="oops" style="display: none" class="alert alert-danger" role="alert">
                      Veuillez saisir les deux champs pour commencer...
                  </div>
                  <div class="form-group">
                    <input type="number" class="form-control" id="input-time" min="10" placeholder="Le temps doit être en seconde">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="input-categorie" placeholder="Le nom de la catégorie">
                  </div>
                  <button id="start" type="button" class="btn btn-primary">C'est parti</button>
                  <button type="button" class="btn btn-danger" style="margin-left: 272px;" data-dismiss="modal">Close</button>
                  {% if current_prediction %}
                        <div class="container">
                          <div class="card" style="width: auto;">
                              <div class="card-body">
                                {% if good_prediction %}
                                  <h6>Mauvaise prédiction, nous n'avons pas trouvé ==> {{ good_prediction }} 🤯</h6>
                                  <br>
                                  <p>Nous pensions que vous aviez representé la catégorie <b>{{ current_prediction_label }} à {{ current_prediction }} %</b></p>
                                {% else %}
                                  <h6>Bonne prédiction !</h6>
                                  <h6>Nous pensons que vous avez representé la catégorie <b>{{ current_prediction_label }}</b></h6>
                                  <br>
                                  <p>Vous avez gagné {{ current_prediction }} points !</p>
                                {% endif %} 
                              </div>
                          </div>

                        </div>
                        <p>Voulez vous soumettre votre dessin aux autre utilisateurs ? (points bonus garantis !) </p>
                        <button id="submit_drawing" type="button" class="btn btn-warning">Soumettre</button>
                  {% endif %}
                  {% if dataset_exist %}
                    <p><i>Nous ne savons pas encore reconnaître cette catégorie, nous serions très heureux si vous pouviez soumettre votre dessin à la communauté ! Il pourra ainsi être incorporé au jeu (et vous donner beaucoup de points !)</i></p>
                  {% endif %}
                  {% if submitted %}
                    {% if 'nothing' not in submitted %}
                      {% if 'submission_done' in submitted %}
                        <div class="alert alert-success" role="alert">
                            {{ submitted }} !
                        </div>
                      {% else %}
                        <div class="alert alert-danger" role="alert">
                           🤯 {{ submitted }} !
                        </div>
                      {% endif %}
                    {% endif %}
                  {% endif %}

              </div>
            </div>
          </div>
        </div>
      <script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>
      <script src="{{ url_for('static', filename='assets/js/sketchpad/responsive-sketchpad.js')}}"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
      <script type="text/javascript">
           // var timeleft = document.getElementById("inputTime").value;

        var el = document.getElementById('sketchpad');
        var pad = new Sketchpad(el);
        pad.setCanvasSize(960,400);
        // clear
        function clear() {
            pad.clear();
        }
        // undo
        function undo() {
            pad.undo();
        }
        document.getElementById('undo').onclick = undo;

        // redo
        function redo() {
            pad.redo();
        }
        document.getElementById('redo').onclick = redo;
        document.getElementById('clear').onclick = clear;
        // resize
        window.onresize = function (e) {
          pad.resize(el.offsetWidth);
        }
      </script>
      <script type="text/javascript">
          var x = document.getElementById("countdown-audio");
          function playAudio() {
              x.play();
          }
          $(document).ready(function () {
              $("#btn-open-modal").click();
              $("#start").on('click', function () {
                  if(document.getElementById("input-time").value === "" || document.getElementById("input-categorie").value === ""){
                      $("#oops").css("display", "block");
                  }else {
                      $(function () {
                          $('#exampleModalCenter').modal('toggle');
                          $('#sketch-pad-wrapper').css('display', 'block');

                          var timeleft = document.getElementById("input-time").value;
                          var downloadTimer = setInterval(function () {
                              document.getElementById("label-draw").innerHTML = "Dessiner : " + document.getElementById("input-categorie").value;
                              if (timeleft <= 0) {
                                  clearInterval(downloadTimer);
                                  document.getElementById("time-draw").innerHTML = "STOPPP !!!";
                                  $('#loader').css("display", "block");
                                  document.getElementById("btnSave").click();

                              } else {
                                  document.getElementById("time-draw").innerHTML = "<b>" + timeleft + ":00<b>";
                              }
                              timeleft -= 1;

                              if (timeleft <= 2) {
                                  document.getElementById("btn-time").className = "btn btn-outline-danger active";
                              }
                              if (timeleft === 3) {
                                  document.getElementById("playCountdownSound").click();
                              }
                          }, 1000);
                      });
                  }
              })
              $("#submit_drawing").on('click', function () {
                document.getElementById("btnSave2").click();
              })
          })
      </script>

      <script type="text/javascript">

          $('#btnSave').click(function(){
            html2canvas($('#sketchpad'),
            {
              onrendered: function (canvas) {
                var a = document.createElement('a');
                // toDataURL defaults to png, so we need to request a jpeg, then convert for file download.
                a.href = canvas.toDataURL("image/jpg").replace("image/jpg", "image/octet-stream");
                a.download = 'drawing.png';
                $("#inputDrawing").val(a.href);
                $('#sketch-pad-wrapper').css('display', 'none');
                /*var e = document.getElementById("categorie");
                var category = e.options[e.selectedIndex].value;*/
                var category = document.getElementById("input-categorie").value;
                var time = document.getElementById("input-time");
                var time_val = time.value
                $("#inputCategory").val(category);
                $("#input_time").val(time_val);
                $("#submitFormDrawing").click();
              }
            });
          });

          window.setTimeout(function () {
                $(".alert-danger").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
                }, 3000);

          window.setTimeout(function () {
                $(".alert-success").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
                }, 3000);

        </script>
{% endblock %}