{% extends 'user_app/com_app_user/dom_app_user.html' %}
{% block scope %}
      <div class="page-content-wrapper">
        <div class="page-content-wrapper-inner">
          <div class="viewport-header">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb has-arrow">
                <li class="breadcrumb-item">
                  <a href="#">Compte</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" style="color: #20B2AA">Profile</li>
              </ol>
            </nav>
          </div>
          <div class="content-viewport">
            <div class="row">
              <div class="col-lg-6">
                <div class="grid">
                  <p class="grid-header">Profile</p>
                  <div class="grid-body">
                    <div class="item-wrapper">
                      <div class="row mb-8">
                        <div class="col-md-8 mx-auto">
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                              <label for="inputType1">Pseudo</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                              <input type="text" class="form-control" id="inputType1" placeholder="{{ session['username']}}">
                            </div>
                          </div>
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                              <label for="inputType12">Email</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                              <input type="email" class="form-control" id="inputType2" placeholder="{{ session['email']}}">
                            </div>
                          </div>
                          <div class="form-group row showcase_row_area">
                            <div class="col-md-3 showcase_text_area">
                              <label for="inputType5">Score</label>
                            </div>
                            <div class="col-md-9 showcase_content_area">
                              <input type="text" class="form-control" id="inputType5" value="{{ session['score'] }}" disabled>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-sm btn-primary">Valider</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 equel-grid">
                <div class="grid">
                  <p class="grid-header">Mot de passe</p>
                  <div class="grid-body">
                    <div class="item-wrapper">
                      <form>
                        <div class="form-group">
                          <input type="password" class="form-control" id="inputEmail1" placeholder="Ancien mot de passe">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" id="inputPassword1" placeholder="Nouveau mot de passe">
                        </div>
                        <div class="form-group">
                          <input type="password" class="form-control" id="inputPassword1" placeholder="Confirmer mot de passe">
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary">Valider</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 py-5">
                <h6>Mes badges</h6>
                <p class="text-gray">Le nombre de badge dépend de nombre d'image notée !</p>
            </div>
            <div class="row">
              {% for i in range(session['position']|int) %}
              <div class="col-md-4 col-sm-3 col-3 equel-grid">
                <div class="grid">
                  <div class="grid-body text-gray">
                      <div class="d-flex justify-content-between">
                          <p><b>+ {{ badges['range'][i].split('-')[0]}} images notées</b></p>
                          <p><a href="#" class="badge badge-success" data-toggle="tooltip" data-placement="top" title="{{ badges['forme'][i] }}"><i class="mdi mdi-snapchat"></i></a></p>
                      </div>
                    <div class="wrapper w-10 mt-2">
                      <img style="display: block; margin-left: auto; margin-right: auto; margin-top: 20px;" class="img-lg img-circle" src="{{ url_for('static', filename=badges['icon'][i]) }}">
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
      <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
      </script>
{% endblock %}