<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Users - SB Admin</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/backend/styles.css') }}">
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <div data-role="page" id="welcome" data-url="{{ url_for('users') }}">
            <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
                <a class="navbar-brand" href="/admin-home">Learn 2 draw ADMIN</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
                ><!-- Navbar Search-->
                <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                </div>
                <!-- Navbar-->
                <ul class="navbar-nav ml-auto ml-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/connection">Logout</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div id="layoutSidenav">
                <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Home</div>
                            <a class="nav-link" href="/admin-home"
                                ><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard Home</a
                            >
                            <!--
                            <div class="sb-sidenav-menu-heading">Application Content</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
                                ><div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                            ></a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth"
                                        >Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                                    ></a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="login.html">Login</a><a class="nav-link" href="register.html">Register</a><a class="nav-link" href="password.html">Forgot Password</a></nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError"
                                        >Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                                    ></a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="401.html">401 Page</a><a class="nav-link" href="404.html">404 Page</a><a class="nav-link" href="500.html">500 Page</a></nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseOther" aria-expanded="false" aria-controls="pagesCollapseOther"
                                        >Other pages
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                                    ></a>
                                    <div class="collapse" id="pagesCollapseOther" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="401.html">Home</a><a class="nav-link" href="401.html">Rules</a><a class="nav-link" href="404.html">User profile</a><a class="nav-link" href="500.html">Doodle evaluation</a><a class="nav-link" href="500.html">Contact support</a></nav>
                                    </div>
                                </nav>
                            </div>
                            -->
                            <div class="sb-sidenav-menu-heading">Databases</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTables" aria-expanded="false" aria-controls="collapseTables"
                                ><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                            ></a>
                            <div class="collapse" id="collapseTables" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="/admin-home/tables/users">Users</a><a class="nav-link" href="/admin-home/tables/drawings">Drawings</a><a class="nav-link" href="/admin-home/tables/categories">Categories</a><a class="nav-link" href="/admin-home/tables/notations">Notations</a></nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Train models</div>
                            <a class="nav-link" href="/admin-models">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-brain"></i>
                                </div>
                                Models
                            </a>

                                <!--<div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>-->
                            <!--<div class="collapse" id="collapseModels" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="layout-static.html">CNN</a><a class="nav-link" href="layout-sidenav-light.html">LSTM</a><a class="nav-link" href="layout-sidenav-light.html">OTHERS</a>
                                </nav>
                            </div>-->
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Admin user
                    </div>
                </nav>
            </div>
                <div id="layoutSidenav_content">
                    <main>
                        <div class="container-fluid">
                            <h1 class="mt-4">Users</h1>
                            <ol class="breadcrumb mb-4">
                                <li class="breadcrumb-item active">Table where all our users are stored</li>
                            </ol>
                            {% if query_result %}
                                <div class="alert alert-danger" role="alert">
                                    🤯 {{ query_result }} !
                                </div>
                            {% endif %}

                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-table mr-1"></i>
                                    Our users
                                    <a class="float-right text-success" href="" data-toggle="modal" data-target="#addModal" style="font-size: 18px;">
                                        <i class="fas fa-plus"></i> Add 
                                    </a>
                                    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel1">Add user</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form id="form-sign-up" method="POST" action="/adding_user/">
                                                    <div class="modal-body">
                                                        <!-- Form Sign UP -->
                                                        <div class="form-group input-rounded">
                                                            <input name="username_input" type="text" class="form-control" placeholder="Username *" required/>
                                                            <div class="required"></div>
                                                        </div>
                                                        <div class="form-group input-rounded">
                                                            <input name="email_input" type="email" class="form-control" placeholder="Email *" required/>
                                                            <div class="required"></div>
                                                        </div>
                                                        <div class="form-group input-rounded">
                                                            <input name="password_input" type="password" class="form-control" placeholder="Password *" required/>
                                                            <div class="required"></div>
                                                        </div>
                                                        <div class="form-group input-rounded">
                                                            <input name="confirm_password_input" type="password" class="form-control" placeholder="Confirm password *" required/>
                                                            <div class="required"></div>
                                                        </div>
                                                        <p>(*) Required fields</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary"> Add </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form id="form-edit" method="POST">
                                                <div class="modal-body">
                                                     <!--Form Sign UP -->
                                                    <div class="form-group input-rounded">
                                                        <input id="username_input" name="username_input" type="text" class="form-control" placeholder="Username *" required/>
                                                        <div class="required"></div>
                                                    </div>
                                                    <div class="form-group input-rounded">
                                                        <input id="email_input" name="email_input" type="email" class="form-control" placeholder="Email *" required/>
                                                        <div class="required"></div>
                                                    </div>
                                                    <div class="form-group input-rounded">
                                                        <input id="score_input" name="score_input" type="number" class="form-control" placeholder="Score *" required/>
                                                        <div class="required"></div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" name="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" name="button" class="btn btn-primary" value="Edit"> Edit </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelDelete" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabelDelete">Delete user</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form id="form-delete" method="POST">
                                                <!--
                                                <div class="modal-body">
                                                    <div class="form-group input-rounded">
                                                        <input id="username_input" name="username_input" type="text" class="form-control" placeholder="Username *" required/>
                                                        <div class="required"></div>
                                                    </div>
                                                    <div class="form-group input-rounded">
                                                        <input id="email_input" name="email_input" type="email" class="form-control" placeholder="Email *" required/>
                                                        <div class="required"></div>
                                                    </div>
                                                    <div class="form-group input-rounded">
                                                        <input id="score_input" name="score_input" type="number" class="form-control" placeholder="Score *" required/>
                                                        <div class="required"></div>
                                                    </div>
                                                </div>
                                                -->
                                                <div class='modal-body'>
                                                    Are you sure that you want to delete this record ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" name="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" name="button" class="btn btn-danger" value="Edit"> Delete </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-body">
                                     <div class="table-responsive">
                                        <table id="users-table" class="table table-striped table-bordered">
                                          <thead>
                                            <tr>
                                              <th width="25%"> Username </th>
                                              <th width="30%"> Email </th>
                                              <!--
                                              <th width="15%"> Password </th>
                                              <th width="10%"> Admin </th>
                                              -->
                                              <th width="15%"> Score </th>
                                              <th width="15%"> Edit </th>
                                              <th width="15%"> Delete </th>
                                            </tr>
                                          </thead>
                                          <tbody id="table_content">
                                              <tr></tr>
                                              <!--
                                              <tr>
                                              <td>Tiger Nixon</td>
                                              <td>samplemail1@gmail.com</td>
                                              <td>200</td>
                                              <td>
                                                <a class="text-primary" href="" data-toggle="modal" data-target="#editModal" data-whatever="Tiger Nixon">
                                                  <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                </a>

                                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel2">Edit user</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <form id="form-edit" action="#">
                                                                <div class="modal-body">
                                                                     Form Sign UP 
                                                                    <div class="form-group input-rounded">
                                                                        <input id="username_input" type="text" class="form-control" placeholder="Username *" required/>
                                                                        <div class="required"></div>
                                                                    </div>
                                                                    <div class="form-group input-rounded">
                                                                        <input type="email" class="form-control" placeholder="Email *" required/>
                                                                        <div class="required"></div>
                                                                    </div>
                                                                    <div class="form-group input-rounded">
                                                                        <input type="number" class="form-control" placeholder="Score *" required/>
                                                                        <div class="required"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-primary"> Edit </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                              </td>
                                              <td>
                                                
                                                 Link trigger modal 
                                                <a class="text-danger" href="" data-toggle="modal" data-target="#exampleModal3">
                                                    <i class="fas fa-trash text-danger"></i> Delete 
                                                </a>

                                                 Modal 
                                                <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel3">Deletion</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you sure that you want to delete this record ?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <a class="btn btn-danger" href="">Yes</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                              </td>
                                            </tr>

                                            <tr>
                                                <td>Garrett Winters</td>
                                                <td>samplemail2@gmail.com</td>
                                                <td>180</td>
                                                <td>
                                                  <a class="text-primary" href="#">
                                                    <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                  </a>
                                                </td>
                                                <td>
                                                  <a class="text-danger" href="#">
                                                    <i class="fa fa-trash text-danger"></i> Delete 
                                                  </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ashton Cox</td>
                                                <td>samplemail3@gmail.com</td>
                                                <td>170</td>
                                                <td>
                                                  <a class="text-primary" href="#">
                                                    <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                  </a>
                                                </td>
                                                <td>
                                                  <a class="text-danger" href="#">
                                                    <i class="fa fa-trash text-danger"></i> Delete 
                                                  </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Cedric Kelly</td>
                                                <td>samplemail4@gmail.com</td>
                                                
                                                <td>145</td>
                                                <td>
                                                  <a class="text-primary" href="#">
                                                    <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                  </a>
                                                </td>
                                                <td>
                                                  <a class="text-danger" href="#">
                                                    <i class="fa fa-trash text-danger"></i> Delete 
                                                  </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Airi Satou</td>
                                                <td>samplemail5@gmail.com</td>
                                                
                                                <td>142</td>
                                                <td>
                                                  <a class="text-primary" href="#">
                                                    <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                  </a>
                                                </td>
                                                <td>
                                                  <a class="text-danger" href="#">
                                                    <i class="fa fa-trash text-danger"></i> Delete 
                                                  </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Brielle Williamson</td>
                                                <td>samplemail6@gmail.com</td>
                                                
                                                <td>130</td>
                                                <td>
                                                  <a class="text-primary" href="#">
                                                    <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                  </a>
                                                </td>
                                                <td>
                                                  <a class="text-danger" href="#">
                                                    <i class="fa fa-trash text-danger"></i> Delete 
                                                  </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Herrod Chandler</td>
                                                <td>samplemail7@gmail.com</td>
                                                
                                                <td>128</td>
                                                <td>
                                                  <a class="text-primary" href="#">
                                                    <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                  </a>
                                                </td>
                                                <td>
                                                  <a class="text-danger" href="#">
                                                    <i class="fa fa-trash text-danger"></i> Delete 
                                                  </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Rhona Davidson</td>
                                                <td>samplemail8@gmail.com</td>
                                                
                                                <td>120</td>
                                                <td>
                                                  <a class="text-primary" href="#">
                                                    <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                  </a>
                                                </td>
                                                <td>
                                                  <a class="text-danger" href="#">
                                                    <i class="fa fa-trash text-danger"></i> Delete 
                                                  </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Colleen Hurst</td>
                                                <td>samplemail9@gmail.com</td>
                                                
                                                <td>100</td>
                                                <td>
                                                  <a class="text-primary" href="#">
                                                    <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                  </a>
                                                </td>
                                                <td>
                                                  <a class="text-danger" href="#">
                                                    <i class="fa fa-trash text-danger"></i> Delete 
                                                  </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Sonya Frost</td>
                                                <td>samplemail10@gmail.com</td>
                                                
                                                <td>95</td>
                                                <td>
                                                  <a class="text-primary" href="#">
                                                    <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                  </a>
                                                </td>
                                                <td>
                                                  <a class="text-danger" href="#">
                                                    <i class="fa fa-trash text-danger"></i> Delete 
                                                  </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Jena Gaines</td>
                                                <td>samplemail11@gmail.com</td>
                                                
                                                <td>50</td>
                                                <td>
                                                  <a class="text-primary" href="#">
                                                    <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                  </a>
                                                </td>
                                                <td>
                                                  <a class="text-danger" href="#">
                                                    <i class="fa fa-trash text-danger"></i> Delete 
                                                  </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Quinn Flynn</td>
                                                <td>samplemail12@gmail.com</td>
                                                
                                                <td>20</td>
                                                <td>
                                                  <a class="text-primary" href="#">
                                                    <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                  </a>
                                                </td>
                                                <td>
                                                  <a class="text-danger" href="#">
                                                    <i class="fa fa-trash text-danger"></i> Delete 
                                                  </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Charde Marshall</td>
                                                <td>samplemail13@gmail.com</td>
                                                
                                                <td>10</td>
                                                <td>
                                                  <a class="text-primary" href="#">
                                                    <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                  </a>
                                                </td>
                                                <td>
                                                  <a class="text-danger" href="#">
                                                    <i class="fa fa-trash text-danger"></i> Delete 
                                                  </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Haley Kennedy</td>
                                                <td>samplemail14@gmail.com</td>
                                                
                                                <td>2</td>
                                                <td>
                                                  <a class="text-primary" href="#">
                                                    <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                  </a>
                                                </td>
                                                <td>
                                                  <a class="text-danger" href="#">
                                                    <i class="fa fa-trash text-danger"></i> Delete 
                                                  </a>
                                                </td>
                                            </tr>
                                        -->
                                          </tbody>
                                        </table>
                                      </div>
                                  
                                    <!--
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Username</th>
                                                    <th>Email</th>
                                                    <th>Password</th>
                                                    <th>Admin</th>
                                                    <th>Score</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Username</th>
                                                    <th>Email</th>
                                                    <th>Password</th>
                                                    <th>Admin</th>
                                                    <th>Score</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                <tr>
                                                    <td>Tiger Nixon</td>
                                                    <td>samplemail1@gmail.com</td>
                                                    <td>******</td>
                                                    <td>0</td>
                                                    <td>200</td>
                                                </tr>
                                                <tr>
                                                    <td>Garrett Winters</td>
                                                    <td>samplemail2@gmail.com</td>
                                                    <td>******</td>
                                                    <td>0</td>
                                                    <td>180</td>
                                                </tr>
                                                <tr>
                                                    <td>Ashton Cox</td>
                                                    <td>samplemail3@gmail.com</td>
                                                    <td>******</td>
                                                    <td>0</td>
                                                    <td>170</td>
                                                </tr>
                                                <tr>
                                                    <td>Cedric Kelly</td>
                                                    <td>samplemail4@gmail.com</td>
                                                    <td>******</td>
                                                    <td>0</td>
                                                    <td>145</td>
                                                </tr>
                                                <tr>
                                                    <td>Airi Satou</td>
                                                    <td>samplemail5@gmail.com</td>
                                                    <td>******</td>
                                                    <td>0</td>
                                                    <td>142</td>
                                                </tr>
                                                <tr>
                                                    <td>Brielle Williamson</td>
                                                    <td>samplemail6@gmail.com</td>
                                                    <td>******</td>
                                                    <td>0</td>
                                                    <td>130</td>
                                                </tr>
                                                <tr>
                                                    <td>Herrod Chandler</td>
                                                    <td>samplemail7@gmail.com</td>
                                                    <td>******</td>
                                                    <td>0</td>
                                                    <td>128</td>
                                                </tr>
                                                <tr>
                                                    <td>Rhona Davidson</td>
                                                    <td>samplemail8@gmail.com</td>
                                                    <td>******</td>
                                                    <td>0</td>
                                                    <td>120</td>
                                                </tr>
                                                <tr>
                                                    <td>Colleen Hurst</td>
                                                    <td>samplemail9@gmail.com</td>
                                                    <td>******</td>
                                                    <td>0</td>
                                                    <td>100</td>
                                                </tr>
                                                <tr>
                                                    <td>Sonya Frost</td>
                                                    <td>samplemail10@gmail.com</td>
                                                    <td>******</td>
                                                    <td>0</td>
                                                    <td>95</td>
                                                </tr>
                                                <tr>
                                                    <td>Jena Gaines</td>
                                                    <td>samplemail11@gmail.com</td>
                                                    <td>******</td>
                                                    <td>0</td>
                                                    <td>50</td>
                                                </tr>
                                                <tr>
                                                    <td>Quinn Flynn</td>
                                                    <td>samplemail12@gmail.com</td>
                                                    <td>******</td>
                                                    <td>0</td>
                                                    <td>20</td>
                                                </tr>
                                                <tr>
                                                    <td>Charde Marshall</td>
                                                    <td>samplemail13@gmail.com</td>
                                                    <td>******</td>
                                                    <td>0</td>
                                                    <td>10</td>
                                                </tr>
                                                <tr>
                                                    <td>Haley Kennedy</td>
                                                    <td>samplemail14@gmail.com</td>
                                                    <td>******</td>
                                                    <td>0</td>
                                                    <td>2</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </main>
                    <footer class="py-4 bg-light mt-auto">
                        <div class="container-fluid">
                            <div class="d-flex align-items-center justify-content-between small">
                                <div class="text-muted">Copyright &copy; Learn2draw 2020</div>
                                <div>
                                    <a href="#">Privacy Policy</a>
                                    &middot;
                                    <a href="#">Terms &amp; Conditions</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
            <script src="{{ url_for('static', filename='/assets/js/backend/scripts.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
            <script src="{{ url_for('static', filename='/assets/js/backend/datatables-demo.js') }}"></script>

            <!-- CUSTOM SCRIPT FOR MODAL EDIT AND TESTS DYNAMIC USERS LIST-->
            <script type="text/javascript">
                console.log("BONSOIR")
                window.onload = function create() {
                    console.log("Loaded");
                    var list = {{ users_infos | tojson }};
                    console.log("dico : ");
                    console.log(list);
                    console.log(list[0].split(';'));

                    //get container element
                    var container = document.getElementById("table_content");
                    //print each user in the table
                    for (i=0; i < list.length; i++){
                        var content = list[i].split(';');

                        var tr = document.createElement('tr');
                        var td_username = document.createElement('td');
                        var td_email = document.createElement('td');
                        var td_score = document.createElement('td');
                        var td_edit = document.createElement('td');
                        var td_delete = document.createElement('td');
                        
                        td_username.appendChild(document.createTextNode(content[0]));
                        td_email.appendChild(document.createTextNode(content[1]));
                        td_score.appendChild(document.createTextNode(content[2]));


                        td_edit.innerHTML = "<td><a id='button_edit' class='text-primary' href='' data-toggle='modal' data-target='#editModal' data-whatever='"+list[i]+"' onclick=create_modal(this) ><i class='fas fa-pencil-alt text-primary'></i> Edit </a></td>";
                                   

                        console.log("modal part");    
                        
                        td_delete.innerHTML = "<td><a id='button_delete' class='text-danger' href='' data-toggle='modal' data-target='#deleteModal' data-whatever='"+list[i]+"' onclick=create_delete_modal(this)><i class='fas fa-trash text-danger'></i> Delete </a></td>";

                        /*
                        td_delete.innerHTML = "<td><a id='button_delete' class='text-danger' href='' data-toggle='modal' data-target='#exampleModal"+i.toString()+"'><i class='fas fa-trash text-danger'></i> Delete </a><div class='modal fade' id='exampleModal"+i.toString()+"' tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true'><div class='modal-dialog' role='document'><div class='modal-content'><div class='modal-header'><h5 class='modal-title' id='exampleModalLabel3'>Deletion</h5><button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div><div class='modal-body'>Are you sure that you want to delete this record ?</div><div class='modal-footer'><button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button><a class='btn btn-danger' href=''>Yes</a></div></div></div></div></td>";
                        */


                        

                        tr.appendChild(td_username);
                        tr.appendChild(td_email);
                        tr.appendChild(td_score);
                        tr.appendChild(td_edit);
                        tr.appendChild(td_delete);
                        container.appendChild(tr);


                        /*<tr>
                                                <td>Colleen Hurst</td>
                                                <td>samplemail9@gmail.com</td>
                                                
                                                <td>100</td>
                                                <td>
                                                  <a class="text-primary" href="#">
                                                    <i class="fas fa-pencil-alt text-primary"></i> Edit 
                                                  </a>
                                                </td>
                                                <td>
                                                  <a class="text-danger" href="#">
                                                    <i class="fa fa-trash text-danger"></i> Delete 
                                                  </a>
                                                </td>
                                            </tr>*/
                    }


                }

                function create_modal(btn){
                    console.log("CREATE MODAL FUNCTION");
                    /*var split = location.search.replace('?', '').split('&').map(function(val){
                      return val.split('=');
                    });
                    var token = split[0][1];
                    
                    console.log("token = "+token);
                    */

                    console.log("current data-whatever : ", btn.getAttribute("data-whatever"));

                    var data = btn.getAttribute("data-whatever");
                    var content = data.split(';');

                    document.getElementById("exampleModalLabel").innerHTML = "Edit user " + content[0];
                    document.getElementById("username_input").value = content[0];
                    document.getElementById("email_input").value = content[1];
                    document.getElementById("score_input").value = content[2];
                    //document.getElementById("form_edit").action = "/admin-home/tables/users/?token=" + token + "&infos=" + data;
                    document.getElementById("form-edit").action = "/updating_username/?infos=" + data;
                    

                }

                function create_delete_modal(btn){
                    console.log("CREATE DELETE MODAL FUNCTION");
                    /*var split = location.search.replace('?', '').split('&').map(function(val){
                      return val.split('=');
                    });
                    var token = split[0][1];
                    
                    console.log("token = "+token);
                    */

                    console.log("current data-whatever : ", btn.getAttribute("data-whatever"));

                    var data = btn.getAttribute("data-whatever");
                    var content = data.split(';');
                    
                    document.getElementById("exampleModalLabelDelete").innerHTML = "Delete user " + content[0];
                    /*
                    document.getElementById("username_input").value = content[0];
                    document.getElementById("email_input").value = content[1];
                    document.getElementById("score_input").value = content[2];
                    */
                    //document.getElementById("form_edit").action = "/admin-home/tables/users/?token=" + token + "&infos=" + data;
                    document.getElementById("form-delete").action = "/delete_user/?infos=" + data;

                }

                window.setTimeout(function () {
                $(".alert-danger").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
                }, 3000);

                /*console.log("modal part")
                $('#editModal').on('show.bs.modal', function (event) {
                  var button = $(event.relatedTarget) // Button that triggered the modal
                  var recipient = button.data('whatever') // Extract info from data-* attributes
                  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                  $('#exampleModalLabel2').text('Edit user ' + recipient)
                  $('#username_input').val(recipient)
                })*/
            </script>
        </div>
    </body>
</html>
