{% extends 'common/dom_landing.html' %}
{% block scope %}

      <!-- Header -->
      <header class="masthead">
        <div class="container">
          <div class="intro-text">
            <div class="intro-lead-in">Bienvenue sur Learn 2 Draw</div>
            <div class="intro-heading text-uppercase">Essayez notre jeu! &#128515;</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/play/">JOUER !</a>
          </div>
        </div>
      </header>

{% endblock %}