{% extends 'common/dom.html' %}
{% block scope %}
    <div class="t-header-content-wrapper">
    <div class="t-header-content">
    <div class="authentication-theme auth-style_1">
      <div class="row">

      </div>
      <div class="row">
        <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto">
          <div class="grid">
            <div class="grid-body">
              <div class="row">
                <div class="col-lg-7 col-md-8 col-sm-9 col-12 mx-auto form-wrapper">
                <!-- Form Sign IN -->
                  <form id="form-sign-in" action="/connection/token/{{ token }}" method="POST">
                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            Quelques choses ne tournent pas ronds 🤯... Veuillez recommencer !
                        </div>
                    {% endif %}
                    {% if error_connection %}
                        <div class="alert alert-danger" role="alert">
                            Email or password est incorrect 🤯... Veuillez recommencer !
                        </div>
                    {% endif %}
                    {% if new_account == True %}
                        <div class="alert alert-success" role="alert">
                            Compte crée avec succèes 😋 Et si on se connecte pour voir !
                        </div>
                    {% endif %}
                    {% if new_account == False %}
                        <div class="alert alert-danger" role="alert">
                            Error ! Please try agin 😋 !
                        </div>
                    {% endif %}
                    <div class="form-group input-rounded">
                      <input type="text" class="form-control" name="username" placeholder="Login" required/>
                    </div>
                    <div class="form-group input-rounded">
                      <input type="password" class="form-control" name="pwd" placeholder="Mot de passe" required/>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block"> Se connecter </button>
                  </form>
                    <!-- Form Sign UP -->
                    <form id="form-sign-up" action="/sign-up" method="POST">

                    {% if error_identical_pwd %}
                        <div class="alert alert-danger" role="alert">
                            Passwords are not match 🤯... Try again !
                        </div>
                    {% endif %}

                    {% if error_user_already_created %}
                        <div class="alert alert-danger" role="alert">
                            Username / Email already used 🤯... Try something else !
                        </div>
                    {% endif %}

                    <div class="form-group input-rounded">
                        <input type="text" class="form-control" name="username" placeholder="Nom d'utilisateur *" required/>
                        <div class="required"></div>
                    </div>
                    <div class="form-group input-rounded">
                        <input type="email" class="form-control" name="email" placeholder="Email *" required/>
                        <div class="required"></div>
                    </div>
                    <div class="form-group input-rounded">
                        <input type="password" class="form-control" name="pwd" placeholder="Mot de passe *" required/>
                        <div class="required"></div>
                    </div>
                    <div class="form-group input-rounded">
                        <input type="password" class="form-control" name="cnf_pwd" placeholder="Confirmer mot de passe *" required/>
                        <div class="required"></div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block"> Valider </button>
                    <p>(*) Champs obligatoire</p>
                  </form>
                  <div class="signup-link">
                    <p id="text-sign-up">Pas encore un compte?</p>
                    <a href="#" id="sign-up">Je m'inscrit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="auth_footer">
        <p class="text-muted text-center">© Learn2draw {{ current_year }}</p>
      </div>
      <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
      <script type="text/javascript">
            $(document).ready(function () {
                $('#form-sign-up').hide();
            });
            $('#sign-up').click(function () {
                $('#form-sign-in').hide();
                $('#form-sign-up').show();
                $('#sign-up').hide();
                $('#text-sign-up').text("And now you have one 👌");
            });

            window.setTimeout(function () {
            $(".alert-danger").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
            }, 3000);
        </script>
        {% if error_identical_pwd or error_user_already_created %}
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#sign-up').click();
                });
            </script>
        {% endif %}
    </div>
    </div>
    </div>
{% endblock %}