{% extends 'common/dom_landing.html' %}
{% block scope %}
        <div class="container" style="position:relative;top:50px" id="container">
        </div>

        <div class="modal fade" id="detailImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body m-auto">
                        <img class="img-fluid" id="draw" alt="Alternate Text" />
                    </div>
                    <div class="modal-footer">
                        <form id="form_scoring" method = "POST">
                            <button type="submit" class="btn btn-danger col-1 m-auto" name="button" value="no">Non</button>
                            <span class="card-detail-badge col-8 m-auto" id="question"></span>
                            <button type="submit" class="btn btn-success col-1 m-auto" name="button" value="yes">oui</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            window.onload = function create() {
                console.log("Bonjour");
                var list = {{ list_drawings | tojson }};
                console.log("dico : ");
                console.log(list);

                var container = document.getElementById("container");

                console.log(list[0].split(';'));

                for (i=0; i < list.length; i++){
                    var content = list[i].split(';');

                    if(i % 3 == 0){
                        var container = document.getElementById("container");
                        var row = document.createElement("div");
                        row.setAttribute("class", "row justify-content-md-center ads");
                        container.appendChild(row);
                    }

                    var element = document.createElement("div");
                    element.setAttribute("class", "col-md-4");
                    row.appendChild(element);

                    var card = document.createElement("div");
                    card.setAttribute("class", "card rounded");
                    element.appendChild(card);


                    var image = document.createElement("div");
                    image.setAttribute("class", "card-image");
                    card.appendChild(image);

                    var span_username = document.createElement("span");
                    span_username.setAttribute("class","card-notify-username");
                    span_username.textContent = "de " + content[0];
                    image.appendChild(span_username);

                    var span_score = document.createElement("span");
                    span_score.setAttribute("class","card-notify-note");
                    span_score.textContent = content[3];
                    image.appendChild(span_score);

                    var drawing = document.createElement("img");
                    drawing.setAttribute("class", "img-fluid");
                    drawing.setAttribute("src", content[2]);
                    card.appendChild(drawing);

                    var overlay = document.createElement("div");
                    overlay.setAttribute("class", "card-image-overlay m-auto");
                    card.appendChild(overlay);

                    var span_category = document.createElement("span");
                    span_category.setAttribute("class","card-detail-badge");
                    span_category.textContent = content[1];
                    overlay.appendChild(span_category);

                    var span_time = document.createElement("span");
                    span_time.setAttribute("class","card-detail-badge");
                    span_time.textContent = "time: " + content[4] + "s";
                    overlay.appendChild(span_time);

                    var btn_score = document.createElement("button");
                    btn_score.setAttribute("class","card-detail-button");
                    btn_score.setAttribute("data-toggle","modal");
                    btn_score.setAttribute("data-target","#detailImage");
                    btn_score.setAttribute("data-whatever",list[i]);
                    btn_score.setAttribute("onclick","create_modal(this)");
                    btn_score.textContent = "noter";
                    overlay.appendChild(btn_score);
                }
            }

            function create_modal(btn){
                var split = location.search.replace('?', '').split('&').map(function(val){
                  return val.split('=');
                });
                var token = split[0][1];

                console.log(token)

                var data = btn.getAttribute("data-whatever");
                var content = data.split(';');

                document.getElementById("title").innerHTML = "fait par " + content[0] + " en " + content[4] + "s";
                document.getElementById("question").innerHTML = "Lorem ipsum dolor sit amet, consectetur adipisicing elit.";
                document.getElementById("draw").src = content[2];
                document.getElementById("form_scoring").action = "/scoring/?token=" + token + "&infos=" + data;

            }

        </script>
{% endblock %}
